:root {
  --primaryColor: rgb(224, 224, 221);
  --accentColor:  rgb(21, 44, 94);
  ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(224, 224, 221); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.144),rgba(255, 255, 255, 0.178)), url(./img/Picture12.png);
  color: rgb(245, 245, 245);
  font-family: sans-serif;
  overflow-x: hidden;
}

.landing_page {
  /* border: 2px solid red; */
  width: 100vw;
  height: 100vh;
  position: relative;
  display: inline-flex;
}

.header {
  position: relative;
  /* border: 2px solid red; */
  /* display: inline; */
  width: 480px;
  height: 300px;
  margin: 30px;
  top: 18vh;
  left: 6vw;
  /* padding: 8rem; */
}

.nav ul {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 15vh;
  /* border: 2px solid red; */
  padding-right: 18vw;
  transition: 1s;
}

.logo {
  position: absolute;
  left: 8%;
  margin-top: 5px;
  /* border: 2px solid red; */
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav ul li {
  padding-right: 20vw;
  margin-left: 10px;
  list-style: none;
  /* border: 2px solid red; */
  padding: 10px 30px;
  border-radius: 64px;
  transition: 1s;
  outline: none;
  background-attachment: fixed;
  cursor: pointer;
}

.nav ul:active li {
  background: rgb(231, 231, 231);
  color: #fff;
}

.nav ul li:hover {
  background-color:rgba(38, 81, 172, 0.432); 
  transition: 1s;
}

.nav ul li:hover a {
  color: #fff;
  transition: 1s;
}

.nav ul li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 200;
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 70px;
  font-weight: lighter;
  color: #f8f8f8;
  font-weight: 100;
  /* word-spacing: 0.03em; */
}

h1 span {
  color:  rgb(42, 87, 184);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

h3 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: lighter;
  color:  rgb(47, 81, 155);
  word-spacing: 0.03em;
}

.header h3 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: lighter;
  color:  rgb(47, 81, 155);
  word-spacing: 0.03em;
}


h1 h3 {
  top: 50%;
  left: 0%;
  /* padding: 50%; */
}

.btn-box {
  position: absolute;
  left: 0px;
  padding: 40px;
  /* border: 2px solid red; */
  width: 199px;
  height: 55px;
  margin-top: 35px;
}

.btn-box h3 {
  color: #eee;
  padding: 40px;
  /* letter-spacing: 0.1em; */
  font-size: 22px;
  font-weight: lighter;
  position: relative;
  align-items: center;
  padding: 4px 57px;
  /* padding-top: 3px; */
}

button a {
  text-decoration: none;
}

button {
  position: relative;
  align-items: center;
  height: 60px;
  width: 210px;
  outline: none;
  border: none;
  cursor: pointer;
  /* border-radius: 64px; */
  background-attachment: fixed;
  background-color:rgb(21, 44, 94);
  ;
  /* background:linear-gradient(to bottom,rgb(25, 25, 95),rgb(0, 0, 0)); */
}

button:hover {
  background-color:rgb(28, 57, 121);
}

.imgDiv { 
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.imgDiv img {
  border-radius: 100%;
  width: 110%;
  display: block;
    /* border: 1px solid red; */
}

.img {
  background: transparent;
  height: 102%;
  width: 110%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  border-radius: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color:rgba(15, 31, 65, 0.288); 
  /* border: 1px solid red; */
  /* position: absolute; */
}


.img:hover {
   background-color:rgba(15, 31, 65, 0.432); 
  border-radius: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  /* left: -10px; */
}

.img h3{
  width: 100%;
  font-weight: 700;
  color: #fff;
  font-size: 66px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img:hover h3 {
  bottom: 49%;
  opacity: 1;
  border-radius: 100%;

}

.ATcontainer{
  /* width: 100%; */
  /* height: 100vh; */
  background-color: transparent;
  /* display: flex; */
   padding-left: 30px;
  align-items: center;
  justify-content: center;
}

.ATcontainer h4 {
  color: #6c99ee;
  font-size: smaller;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* About slide Page */
.About_Developer {
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  /* padding-top: 150px; */
  /* padding-left: 240px; */
  width: 100vw;
  height: 100vh;
  /* border: 1px solid red; */
  overflow: hidden;
}

.Text {
  position: relative;
  align-items: center;
  margin-top: 50px;
  margin-right: 20px;
  padding: 20px;
  width: 40vw;
  height: 84vh;
  /* border: 1px solid red; */
}

.Text h2 {
  font-size: 45px;
  font-weight: bold;
  align-items: center;
  color: rgb(30, 30, 63);
  margin-bottom: 30px;
}

.Text h3 {
  align-items: center;
  font-size: 35px;
  font-weight: lighter;
  color: rgb(125, 125, 145);
  margin-bottom: 30px;
}

.Text p {
  color: rgb(98, 98, 110);
  font-size: 18px;
  -moz-text-align-last: center;
       text-align-last: center;
}

.image {
  margin-top: 80px;
  margin-right: 20px;
  width: 35vw;
  height: 70vh;
  /* border: 1px solid red; */
}

.image img {
  width: 470px;
  height: 100%;
}

.btn-More {
  margin: 100px;
  margin-left: 80px;
  width: 200px;
  height: 50px;
  align-items: center;
}

.btn-More h3 {
  font-weight: lighter;
  color: #fff;
  font-size: 22px;
  margin-top: 16px;
}

.btn-More button {
  width: 210px;
  height: 60px;
  align-items: center;
}

/* ---------Testimonial Section ----- */
.Testimonial {
  position: relative;
  display: flex;
  padding-top: 10%;
  height: 80vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.144),rgba(255, 255, 255, 0.048)), url(/img/Picture12.png);
   background-size: contain;
  /* background-color: rgb(49, 49, 104); */
  /* border: 1px solid red; */
  justify-content: center;
}

.testimoy-title h1 {
  position: absolute;
  display: grid;
  grid-row: 1;
  top: 0;
  left: 33vw;
  justify-content: center;
  font-weight: bold;
  color: #eee;
}

.person1 {
  color: #000;
  padding-left: 50px;
  padding-right: 10px;
  margin: 10px;
  align-items: center;
  width: 22vw;
  height: 45vh;
  contain: content;
  justify-content: center;
  /* border: 1px solid red; */
  background-color: #fff;
  transition: 1s;
}

.person1:hover {
  scale: 1.1;
}

.person2 {
  padding-left: 50px;
  padding-right: 10px;
  margin: 10px;
  width: 22vw;
  height: 45vh;
  contain: content;
  /* border: 1px solid red; */
  background-color: #fff;
  transition: 1s;
}

.person2:hover {
  scale: 1.1;
}

.person3 {
  padding-left: 50px;
  padding-right: 10px;
  margin: 10px;
  width: 22vw;
  height: 45vh;
  contain: content;
  /* border: 1px solid red; */
  background-color: #fff;
  transition: 1s;
}

.person1 p {
  color: #4b4949;
  font-size: 15px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.person2 p {
  color: #4b4949;
  font-size: 14px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 25px;
}

.person3 p {
  color: #4b4949;
  font-size: 15px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.person3:hover {
  scale: 1.1;
}

.imgTest {
  margin-left: 40px;
  /* border: 1px solid red; */
  border-radius: 100%;
  width: 50%;
  height: 40%;
}

.imgTest img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

/* -----follow-us---- */
.follow-us {
  background-color: #eee;
  /* border: 1px solid red; */
  height: 40vh;
  padding: 40px;
  position: relative;
  display: flex;
}

.follow-us h2 {
  font-size: 40px;
  color: rgb(11, 11, 51);
}

.follow-us h3 {
  font-weight: lighter;
  color: rgb(92, 95, 112);
}

.socialMediaTxT {
  position: relative;
  display: flex;
  justify-content: right;
  padding-left: 0px;
  top: 60%;
  left: 0%;
}

.socialMedia {
  position: relative;
  display: flex;
  justify-content: right;
  padding-left: 40px;
  top: 60%;
  left: 10%;
}

.socialMedia img {
  width: 30px;
  height: 30px;
  filter: contrast(20%);
  transition: 1s;
}

.socialMedia img:hover {
  width: 30px;
  height: 30px;
  filter: contrast(100%);
}

/* ----------Address Me----------- */
.footer-address {
  /* border: 1px solid red; */
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2rem;
  height: 80vh;
  background-color:rgb(9, 21, 46);
}

.footer-address-col1 {
  /* border: 1px solid red; */
  width: 30vw;
  padding: 2rem;
}

.footer-address-col1 h2 {
  color: #fff;
  font-size: 40px;
}

.footer-address-col1 h3 {
  color: #fff;
  font-size: 25px;
}

.footer-address-col1 input {
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
  outline: none;
}

::-moz-placeholder {
  padding-left: 30px;
}

::placeholder {
  padding-left: 30px;
}

.footer-address-col1 button {
  background-color: rgb(26, 26, 34);
  outline: none;
  color: #fff;
  cursor: pointer;
}

#message-input {
  height: 15%;
}

.footer-address-col2 {
  /* border: 1px solid red; */
  width: 20vw;
  padding: 2rem;
  padding-left: 5rem;
}

.footer-address-col2 h2 {
  color: #fff;
  font-size: 40px;
}

.footer-address-col2 h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 5px;
}

.footer-address-col2 {
  /* border: 1px solid red; */
  width: 30vw;
}

.footer-address-col2 ul {
  padding: 2rem;
  color: #fff;
}

.footer-address-col2 ul li a {
  color: #fff;
  text-align: none;
  text-decoration: none;
  font-size: 28px;
}

.footer-address-col3 {
  /* border: 1px solid red; */
  width: 30vw;
}

.footer-logo img {
  position: relative;
  align-items: center;
  /* border: 1px solid red; */
  width: 12vw;
  height: 20vh;
  margin: 50px;
  margin-left: 100px;
  background-color: #fff;
  border-radius: 100%;
  contain: content;
}

.footer-address-col3 h3 a {
  color: #fff;
  text-decoration: none;
  padding: 80px;
  font-size: 17px;
  font-weight: lighter;
}

.copyRight {
  padding-top: 20px;
  padding: 25px auto;
  /* border: 1px solid red; */
  text-align: center;
  height: 10vh;
  color: #fff;
  background-color: rgb(26, 26, 34);
}

/* Portifolio */
.project-conainer {
  width: 100%;
  height: 100vh;
}

.project-conainer h2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 700;
  color: var(--primaryColor);
}

.box-container {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: var(--accentColor);
}

.box-gallery {
  position: relative;
  display: flex;
  contain: content;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 10px 0 25px 0px rgba(255, 255, 255, 0.2);
  width: 40vw;
  height: 70vh;
  margin: 2rem;
  contain: content;
  background: var(--primaryColor);
}

.box-gallery img {
  contain: content;
  width: 553px;
}

.box-gallery button {
  position: absolute;
  display: flex;
  width: 550px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  top: 63.4vh;
  align-items: center;
  background-color: var(--accentColor);
}

.box-gallery button:hover {
  background-color:rgb(28, 57, 121);
}

.box-gallery button a {
  color: var(--primaryColor);
  position: relative;
  display: flex;
  margin-left: 50px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */











